
<hr class="text-light-emphasis ">
<div class="footer opacity-25 fw-normal fs-6 d-flex px-3 justify-content-between text-light dark w-100" style="height: 3rem;">
    <div class="footer-info w-50 d-flex gap-4">
        <p>Copyright <i class='bx bx-copyright ' style='color:#ffffff' ></i> 2019</p>
        <span> Hodlinfo.com</span>
    </div>
    <div class="support">
        <p>Support</p>
    </div>
</div>