
*{
    font-family: "Oswald", sans-serif !important;
}

body {
    background-color: white !important;
    color: black !important;
}

body.dark-mode {
    background-color: black !important;
    color: white !important;
}
.add{
    position: fixed;
    bottom: 0%;
}